/* xl <= Extra extra large (xxl) */
@media (max-width : 1399px) {
	.actors .container {
		max-width: 960px;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1199px) {
	.actors {
		margin-top: 102px;
	}
}

/* md <= Large (lg) */
@media (max-width : 991px) {
	.actors .container {
		max-width: 720px;
	}

	.actors .row {
		margin: 50px 0 30px;
	}
}

/* sm <= Medium (md) */
@media (max-width : 767px) {
	.actors .container {
		max-width: 480px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 575px) {
	.actors {
		margin-top: 92px;
	}

	.actors .container {
		max-width: 350px;
		padding: 0 25px;
	}

	.actors .row {
		margin: 30px 0 10px;
	}
}