.services {
	background-color: var(--dark-content);
	margin-top: 122px;
	border: 1px solid transparent;
}

.services__title {
	font-size: var(--regular-header);
	margin: 70px auto 45px;
	text-align: center;
}

.services .container {
	max-width: 1180px;
	padding: 0;
}

.services .row {
	margin: 0 0 50px;
}

.service-link,
.service-link:hover,
.service-link:active {
	list-style: none;
	text-decoration: none;
	color: var(--text);
}

.service {
	display: flex;
	margin: 0 0 20px;
	background-color: var(--deep-content);
	padding: 0;
	border: 1px solid var(--middle-gray);
}

.service:hover {
	border: 1px solid var(--accent);
}

.service__image {
	width: 158px;
	cursor: pointer;
	opacity: 1;
	transition: opacity var(--transition);
}

.service__image:hover {
	opacity: 0.75;
}

.service__image:active {
	opacity: 0.5;
}

.service__right {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
}

.service__button {
	width: 80%;
	height: 35px;
	border: none;
	background-color: var(--accent);
	color: var(--text);
	margin: 0 auto 8px;
	padding: 0;
	box-shadow: var(--shadow-light);
	transition: background-color var(--transition);
	font-family: roboto-tls, sans-serif;
}

.service__button:hover {
	background-color: rgba(147, 60, 65, 0.75);
}

.service__button:active {
	background-color: rgba(147, 60, 65, 0.5);
}

.service__title {
	font-size: var(--middle-header);
	font-weight: 700;
	text-align: center;
	margin: 14px 0 18px;
}