/* xl <= Extra extra large (xxl) */
@media (max-width : 1399px) {}

/* lg <= Extra large (xl) */
@media (max-width : 1199px) {
	.services {
		margin-top: 102px;
		padding: 0 50px;
	}

	.services .container {
		max-width: 980px;
	}
}

/* md <= Large (lg) */
@media (max-width : 991px) {
	.services {
		padding: 0 30px;
	}

	.services__title {
		margin: 50px auto 30px;
	}

	.services .container {
		max-width: 920px;
	}

	.services .row {
		margin: 0 0 30px;
	}

	.service__button {
		width: 90%;
	}
}

/* sm <= Medium (md) */
@media (max-width : 767px) {
	.services .container {
		max-width: 520px;
	}

	.service__button {
		width: 80%;
	}
}

/* xs <= Small (sm) */
@media (max-width : 575px) {
	.services {
		margin-top: 92px;
		padding: 0;
	}

	.services__title {
		margin: 30px auto 25px;
		font-size: 24px;
	}

	.services .container {
		max-width: 425px;
	}

	.services .row {
		margin: 0 0 10px;
	}

	.service__button {
		width: 90%;
	}

	.service__title {
		font-size: var(--regular-text);
	}
}