@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-300.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-500.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-600.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-700.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-800.woff2) format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "raleway-tls";
	src: url(./raleway/raleway-v22-cyrillic-900.woff2) format("woff2");
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: "roboto-tls";
	src: url(./roboto/roboto-v29-cyrillic-300.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "roboto-tls";
	src: url(./roboto/roboto-v29-cyrillic-500.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "roboto-tls";
	src: url(./roboto/roboto-v29-cyrillic-700.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}