.article {
	background-color: var(--deep);
	border: 1px solid transparent;
}

.article__title {
	font-size: var(--regular-header);
	margin: 70px auto 45px;
	text-align: center;
}

.article .container {
	max-width: 1160px;
	padding: 0;
	margin: 0 auto 70px;
	border: 1px solid var(--middle-gray);
}

.article .row {
	margin: 0;
}

.article__left {
	padding: 0;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--middle-gray);
}

.article__image {
	width: 100%;
}

.article__subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	border-top: 1px solid var(--middle-gray);
	height: 70px;
	padding: 0 10px;
}

.article__subtitle-text {
	font-size: var(--middle-header);
	margin: 0;
	text-align: center;
}

.article__info {
	padding: 20px 20px 0;
}

.article__info-text {
	font-family: roboto-tls, sans-serif;
	font-weight: 300;
	font-size: var(--small-text);
	margin: 0 auto 20px;
}